input,button{
    display:block;
    margin:10px;
}
.form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center; 
  background-color:pink;
  margin:100px 600px;
  border-radius:20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
input,button{
    border-radius:20px;
}
button{
    margin:10px 60px;
}
@media screen and (min-width:320px) and (max-width:720px){
    .form{
        display:flex;
        flex-direction:column;
        justify-content:center;
        align-items:center;
    }
}
